.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 400px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* Activity 2: Add your card transition here*/
  transition: 0.3s ease-in-out;
  /*
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; 
  */
}

/* Activity #2: Transforms
  Scale up the card by 105% on hover with a ease in-out transition of 0.3 seconds
  (hint: You'll need to add a pseudoselector to .card and add the transition to the regular .card class)
*/
.card:hover{
  transform: scale(1.05);
}


.card_img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.card_title {
  font-size: 1.25rem;
  text-align: center;
}

.card_descript {
  flex-grow: 1;
  font-size: 1.125rem;
}

.card_button {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  color: black;
  background-color: #fcce9f;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

/* Activity #1: CSS Pseudo-classes + Pseudo-elements
  1. Increase font size and lighten opacity to 70% when hovering button
  2. Add a strong box shadow when button clicked 
  (hint: go to this website to find box shadows: https://getcssscan.com/css-box-shadow-examples)
  3. Add the raccoon image from assets folder before “Learn more” 
  and use margins to add spacing to right of the image
  (hint: https://developer.mozilla.org/en-US/docs/Web/CSS/url)
*/

.card_button:hover{
  font-size: 1.25rem;
  opacity: 70%;
}

.card_button:active{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


