.main {
  margin-bottom: 2rem;
}

.section_header {
  font-size: 1.75rem;
  text-align: center;
}

.news_cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.hero_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

/* Activity 3: Add a keyframe to slide in from the left and slowly reveal the
  .hero_text message (hint: use opacity and transform) 
*/ 

.hero_text {
  opacity: 0; /* Initially hide the text */
  animation: hero_animation 2.5s forwards;
}

.hero_text:hover {
  transform: rotate(360deg);
}

@keyframes hero_animation {
  0% {
    opacity: 0;
    transform: translateX(-300%); /* Start off screen */
  }
  50% {
    opacity: 0.5; /* Fade in halfway through animation */
  }
  100% {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Slide in to original position */
  }
}
