.main {
  margin-bottom: 2rem;
}

.section_header {
  font-size: 1.75rem;
  text-align: center;
}

.news_cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.hero_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

/* Activity 3: Keyframes 
  Add a keyframe to slide in from the left and slowly reveal the
  .hero_text message (hint: use opacity and transform) 
*/ 

.hero_text {

}
