.logo_bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.links > a,
.links_show > a {
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  padding: 0.75rem;
}

.logo {
  width: 100%;
  max-width: 3.5rem;
  height: auto;
}

.title {
  font-size: 1.75rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .nav_bar {
    flex-direction: column;
    gap: 1rem;
  }

  .links {
    display: none;
  }

  .links_show {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgray;
  }
}
